<ul>
  <div class='cars'>
    <% @cars.each do |car| %>
      <%= link_to car_path(car) do %>
        <div class="car">

          <li><%= car.name %></li>
          <li><%= car.car_type %></li>
          <li><%= car.price %></li>
          <li><%= car.transmission %></li>
        </div>
      <% end %>
    <% end %>
  </div>
</ul>
