<h1></h1>

<ul>
  <div class='cars'>
    <% @cars.each do |car| %>
      <%= link_to car_path(car) do %>
        <div class="car">
          <% if car.photo.attached? %>
            <%= cl_image_tag car.photo.key, height: 150, width: 220, crop: :fill, class: "car-image" %>
           <% else  %>
            <%= image_tag 'city-life_.jpeg', class: "car_image" %>
           <% end %>
          <ul>
              <li><%= car.name %></li>
              <li><%= car.car_type %></li>
              <li>£<%= car.price %></li>
              <li><%= car.transmission %></li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</ul>
