<%= stylesheet_link_tag 'car_style' %>

<div class="car-details">
  <h1><%= @car.name %></h1>

  <div class="car-info">
    <p><strong>Car Type:</strong> <%= @car.car_type %></p>
    <p><strong>Trasmission:</strong> <%= @car.transmission %></p>
    <p><strong>Price:</strong> £<%= @car.price %></p>
  <div>

  <div class="car-description">
    <h2>Description:</h2>
    <ul>
      <% @car.car_description.split(',').each do |description| %>
        <li><%= description.strip %></li>
      <% end %>
    </ul>
  </div>

  <%= link_to "Go Back", cars_path, class: "btn btn-primary" %>
</div>

<%= link_to "Delete",
  car_path(@car),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
