<%= stylesheet_link_tag 'show_page' %>

<div class="car-details">
  <h1><%= @car.name %></h1>

  <div class="car-info">
      <div>
            <p><strong>Car Type:</strong> <%= @car.car_type %></p>
            <p><strong>Trasmission:</strong> <%= @car.transmission %></p>
            <p><strong>Price:</strong> <%= @car.price %></p>

          <div data-controller="description-toggle" class="car-description">
            <button data-action="click->description-toggle#show" class="description-toggle">Description:</button>
            <ul data-description-toggle-target="details" class="additionl-details d-none">
              <% @car.car_description.split(',').each do |description| %>
                <li><%= description.strip %></li>
              <% end %>
            </ul>
          </div>
        </div>

          <div>
            <% if @car.photo.attached? %>
              <%= cl_image_tag @car.photo.key, height: 600, width: 800, crop: :fill %>
              <% else  %>
              <%= image_tag 'city-life_.jpeg', class: "car_image_show" %>
            <% end %>
          </div>

    </div>

    <div class="show_link">
      <%= link_to "Make an Enquiry", "#", class: "btn btn-primary" %>
      <%= link_to "Go Back", cars_path, class: "btn btn-primary mx-4" %>
    </div>
</div>
